<div class="flex space-x-4">
  @if (data.author.picture !== null) {
  <img alt="" [src]="data.author.picture" class="object-cover w-12 h-12 rounded-full shadow dark:bg-gray-500">
  }
  <div class="flex flex-col space-y-1">
    @if (data.author.pseudonym !== null) {
    <a rel="noopener noreferrer" href="#" class="text-sm font-semibold">{{ data.author.pseudonym }}</a>
    } @else {
    <a rel="noopener noreferrer" href="#" class="text-sm font-semibold">{{ data.author.firstname }} {{
      data.author.lastname }}</a>
    }
    <span class="text-xs dark:text-gray-600">{{ data.publicationDate | date:'medium' }}</span>
  </div>
</div>

<div>
  <h4 class="mb-1 text-lg font-semibold">{{ data.title }}</h4>
  <p class="text-sm dark:text-gray-600">{{ data.description }}</p>

  @if ((data.illustrations).length === 1) {
  <div class="w-full mb-4">
    <img [src]="data.illustrations[0]" alt="Illustration" class="object-cover w-full h-64 sm:h-96 rounded-md" />
  </div>
  }

  @if ((data.illustrations).length === 2) {
  <div class="grid grid-cols-3 gap-2 mb-4">
    <img [src]="data.illustrations[0]" class="col-span-2 object-cover h-64 w-full rounded-md"
      alt="Illustration principale" />
    <img [src]="data.illustrations[1]" class="col-span-1 object-cover h-64 w-full rounded-md"
      alt="Illustration secondaire" />
  </div>
  }

  @if ((data.illustrations).length === 3) {
  <div class="grid grid-cols-3 gap-2 mb-4">
    <img [src]="data.illustrations[0]" class="col-span-2 row-span-2 object-cover h-96 w-full rounded-md"
      alt="Illustration principale" />
    <img [src]="data.illustrations[1]" class="object-cover h-48 w-full rounded-md" alt="Illustration 2" />
    <img [src]="data.illustrations[2]" class="object-cover h-48 w-full rounded-md" alt="Illustration 3" />
  </div>
  }
</div>

<div class="flex justify-end text-grey">
  <div class="flex items-center mr-4" (click)="toggleCommentsDisplay()">
    <i class="fa-regular fa-comment text-xl"></i>
    <span class="ml-2 text-sm text-gray-600">
    @if (!isCommentVIsible) {
      Afficher
    } @else {
      Masquer
    }
     les commentaires
    </span>
  </div>
  <div class="flex items-center">
    @if (!isLikedByUser()) {
    <button (click)="likePublication(data.id)">
      <i class="fa-regular fa-heart text-xl"></i>
    </button>
    <span class="ml-2 text-sm text-gray-600">
      {{ data.likes.length }} Like{{ data.likes.length === 1 ? '' : 's' }}
    </span>
    } @else {
    <button (click)="dislikePublication(data.id)">
      <i class="fa-solid fa-heart text-xl"></i>
    </button>
    <span class="ml-2 text-sm text-gray-600">
      {{ data.likes.length }} Like{{ data.likes.length === 1 ? '' : 's' }}
    </span>
    }
  </div>
</div>

@if (isCommentVIsible) {
<app-comments [comments]="comments" (onPostCommentOutput)="onPostComment($event)"></app-comments>
}