<div
    class="flex justify-center overflow-x-auto gap-1 overflow-y-hidden border-b border-gray-200 whitespace-nowrap dark:border-gray-700">
    <button routerLink="all" [class]="button">
        Tout
    </button>

    <button routerLink="info" [class]="button">
        Informations
    </button>

    <button routerLink="alert" [class]="button">
        Alertes
    </button>

    <button routerLink="help" [class]="button">
        Entraide
    </button>

    <button routerLink="event" [class]="button">
        Evènements
    </button>
</div>

<router-outlet></router-outlet>