<div class="mb-2 w-full">
    <div class="flex justify-center overflow-x-auto lg:gap-4 gap-0 overflow-y-hidden border-b border-gray-200 whitespace-nowrap dark:border-gray-700">
        <button
            routerLink="informations"
            routerLinkActive
            #informations="routerLinkActive"
            [class]="button + (informations.isActive ? active : inactive)">
            Informations
        </button>
    
        <button 
            routerLink="activity"
            routerLinkActive
            #activite="routerLinkActive"
            [class]="button + (activite.isActive ? active : inactive)">
            Activité
        </button>
    
        <button 
            routerLink="notifications"
            routerLinkActive
            #notifications="routerLinkActive"
            [class]="button + (notifications.isActive ? active : inactive)">
            Notifications
        </button>
    </div>
    
    <!-- Contenu des onglets -->
    <div class="p-4 flex align-items-center justify-content-center w-full">
        <router-outlet></router-outlet>
    </div>
</div>
