<app-header></app-header>

<section class="bg-white dark:bg-gray-900">
    <div class="container flex flex-col items-center px-4 py-12 mx-auto xl:flex-row">
        <div class="flex justify-center xl:w-1/2">
            <img class="h-80 w-80 sm:w-[28rem] sm:h-[28rem] flex-shrink-0 object-cover rounded-full" src="/landing-illustration.jpg" alt="">
        </div>

        <div class="flex flex-col items-center mt-6 xl:items-start xl:w-1/2 xl:mt-0">
            <h2 class="text-2xl font-semibold tracking-tight text-gray-800 xl:text-3xl dark:text-white">
                Hello Neighbors - Le réseau social de votre quartier
            </h2>

            <p class="block max-w-2xl mt-4 text-gray-500 dark:text-gray-300">
                Rejoignez Hello Neighbors, la plateforme qui connecte les habitants de votre quartier ! 
                Échangez des infos, partagez des conseils, postez des alertes, organisez des événements et donnez ou troquez des objets en toute simplicité.
                Faites de votre quartier un lieu plus vivant, solidaire et collaboratif. Parce qu’ensemble, on est plus forts !
                Inscrivez-vous dès maintenant et dites bonjour à vos voisins !
            </p>
            
            <app-button (onClick)="functioncall($event)" [label]="label"></app-button>
        </div>
    </div>
</section>