<div class="flex -space-x-8 rtl:space-x-reverse justify-center">
    @if (totalUsersAround === 0) {
        <img class="object-cover w-20 h-20 border-1 border-white rounded-full dark:border-gray-800" [src]="randomPics[0]" alt="">
    } @else if (totalUsersAround === 1) {
        <img class="object-cover w-20 h-20 border-1 border-white rounded-full dark:border-gray-800" [src]="randomPics[0]" alt="">
        <img class="object-cover w-20 h-20 border-1 border-white rounded-full dark:border-gray-800" [src]="randomPics[1]" alt="">
        <span
        class="self-center shrink-0 flex items-center justify-center w-10 h-10 text-xs font-medium text-white bg-gray-700 border-2 border-white rounded-full hover:bg-gray-600 dark:border-gray-800"
        >
        +{{ totalUsersAround }}
        </span>
    } @else if (totalUsersAround === 2) {
        <img class="object-cover w-20 h-20 border-1 border-white rounded-full dark:border-gray-800" [src]="randomPics[0]" alt="">
        <img class="object-cover w-20 h-20 border-1 border-white rounded-full dark:border-gray-800" [src]="randomPics[1]" alt="">
        <img class="object-cover w-20 h-20 border-1 border-white rounded-full dark:border-gray-800" [src]="randomPics[2]" alt="">
        <span
        class="self-center shrink-0 flex items-center justify-center w-10 h-10 text-xs font-medium text-white bg-gray-700 border-2 border-white rounded-full hover:bg-gray-600 dark:border-gray-800"
        >
        +{{ totalUsersAround }}
        </span>
    } @else {
        <img class="object-cover w-20 h-20 border-1 border-white rounded-full dark:border-gray-800" [src]="randomPics[0]" alt="">
        <img class="object-cover w-20 h-20 border-1 border-white rounded-full dark:border-gray-800" [src]="randomPics[1]" alt="">
        <img class="object-cover w-20 h-20 border-1 border-white rounded-full dark:border-gray-800" [src]="randomPics[2]" alt="">
        <img class="object-cover w-20 h-20 border-1 border-white rounded-full dark:border-gray-800" [src]="randomPics[3]" alt="">
        <span
        class="self-center shrink-0 flex items-center justify-center w-10 h-10 text-xs font-medium text-white bg-gray-700 border-2 border-white rounded-full hover:bg-gray-600 dark:border-gray-800"
        >
        +{{ totalUsersAround }}
        </span>
    }
</div>

<app-post-making-form (onPostAdded)="onPostAdded.emit($event)"></app-post-making-form>

<div class="flex flex-col gap-3">
    @for (event of nextThreeEvents; track event.id) {
        <app-side-event-card [data]="event"></app-side-event-card>
    }
</div>
