<form [formGroup]="postMakingForm" (ngSubmit)="onSubmit()"
  class="flex flex-col text-gray-800 font-sans rounded-md border px-6 py-4 w-full bg-white">

  <!-- Type de publication -->
  <select #type formControlName="publicationType" class="bg-gray-100 border border-gray-300 p-2 mb-4 outline-none">
    <option value="" disabled>Choisissez un type de publication</option>
    @for (type of publicationTypes; track type.id) {
      <option [value]="type.id">{{ type.label }}</option>
    }
  </select>

  <!-- Inputs spécifiques aux évènements -->
  @if (type.value == "EVENT") {
    <div class ="flex gap-2 mb-4">
      <input type="date" formControlName="startDate" class="bg-gray-100 border border-gray-300 p-2 w-1/2 outline-none" />
      <input type="date" formControlName="endDate" class="bg-gray-100 border border-gray-300 p-2 w-1/2 outline-none" />
    </div>
    <input placeholder="Capacité maximale" type="number" formControlName="maxCapacity"class="bg-gray-100 border border-gray-300 p-2 mb-4 outline-none" />
  }

  @if (type.value != '') {
    <!-- Inputs communs aux autres types -->
    <input placeholder="Titre" type="text" formControlName="title"
      class="bg-gray-100 border border-gray-300 p-2 mb-4 outline-none" />
    <textarea 
      formControlName="description" 
      rows="3"
      placeholder="Décrivez votre publication ici"
      class="description bg-gray-100 sec p-3 border border-gray-300 outline-none mb-4">
    </textarea>
    <input placeholder="Adresse" type="text" formControlName="localisation" 
      class="bg-gray-100 border border-gray-300 p-2 mb-4 outline-none" />
    <!-- Illustrations -->
    <div class="flex overflow-hidden bg-white border divide-x rounded-lg rtl:flex-row-reverse dark:bg-gray-900 dark:border-gray-700 dark:divide-gray-700">
      <button class="flex items-center px-4 py-2 text-sm font-medium text-gray-600 transition-colors duration-200 sm:text-base sm:px-6 dark:hover:bg-gray-800 dark:text-gray-300 gap-x-3 hover:bg-gray-100">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 sm:w-6 sm:h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 16.5V9.75m0 0l3 3m-3-3l-3 3M6.75 19.5a4.5 4.5 0 01-1.41-8.775 5.25 5.25 0 0110.233-2.33 3 3 0 013.758 3.848A3.752 3.752 0 0118 19.5H6.75z" />
          </svg>
          <span>Ajouter des illustrations</span>
      </button>
    </div>
  }

  <!-- Boutons -->
  <div class="buttons flex mt-2 gap-3">
    <button class="btn border border-gray-300 p-1 px-4 font-semibold cursor-pointer text-gray-500 ml-auto" (click)="reset()">Annuler</button>
    <button type="submit" [disabled]="!postMakingForm.valid" class="btn bg-black p-1 px-4 font-semibold cursor-pointer text-white ml-2">Publier</button>
  </div>
</form>
