<div class="w-xl space-y-6 overflow-hidden font-sans rounded-md border px-6 py-4 bg-white">
	<div class="flex space-x-4">
        @if (data.author.picture !== null) {
            <img alt="" [src]="data.author.picture" class="object-cover w-12 h-12 rounded-full shadow dark:bg-gray-500">
        }
		<div class="flex flex-col space-y-1">
            @if (data.author.pseudonym !== null) {
                <a rel="noopener noreferrer" href="#" class="text-sm font-semibold">{{ data.author.pseudonym }}</a>
            } @else {
                <a rel="noopener noreferrer" href="#" class="text-sm font-semibold">{{ data.author.firstname }} {{ data.author.lastname }}</a>
            }
            <span class="text-xs dark:text-gray-600">{{ data.eventDate }}</span>
		</div>
	</div>

	<div>
		<h4 class="mb-1 text-xl font-semibold">{{ data.title }}</h4>
		<p class="text-sm">{{ data.description}}</p>

        <!-- @if ((data.illustrations).length === 1) {
          <div class="w-full mb-4">
            <img 
              [src]="data.illustrations[0]" 
              alt="Illustration" 
              class="object-cover w-full h-64 sm:h-96 rounded-md" 
            />
          </div>
        }
      
        @if ((data.illustrations).length === 2) {
          <div class="grid grid-cols-3 gap-2 mb-4">
            <img 
              [src]="data.illustrations[0]" 
              class="col-span-2 object-cover h-64 w-full rounded-md" 
              alt="Illustration principale" 
            />
            <img 
              [src]="data.illustrations[1]" 
              class="col-span-1 object-cover h-64 w-full rounded-md" 
              alt="Illustration secondaire" 
            />
          </div>
        }
      
        @if ((data.illustrations).length === 3) {
          <div class="grid grid-cols-3 gap-2 mb-4">
            <img 
              [src]="data.illustrations[0]" 
              class="col-span-2 row-span-2 object-cover h-96 w-full rounded-md" 
              alt="Illustration principale" 
            />
            <img 
              [src]="data.illustrations[1]" 
              class="object-cover h-48 w-full rounded-md" 
              alt="Illustration 2" 
            />
            <img 
              [src]="data.illustrations[2]" 
              class="object-cover h-48 w-full rounded-md" 
              alt="Illustration 3" 
            />
          </div>
        } -->
	</div>

    <div class="flex items-center mt-3 px-4">
        <i class="fa-solid fa-calendar-days w-6 h-6"></i>
        <p class="px-2">Du {{ data.startDate }} au {{ data.endDate }}</p>
    </div>
    <div class="flex items-center px-4">
        <i class="fa-solid fa-map-pin w-6 h-6"></i>
        <p class="px-2">{{ data.street }} {{ data.city }} {{ data.postalCode }}</p>
    </div>

    <button (click)="participateToEvent(data.id)"
        class="px-4 py-2 text-white bg-green-600 rounded hover:bg-green-700">
        Participer
    </button>


    <div class="flex justify-end text-grey">
        <div class="flex items-center mr-4">
            <svg class="mr-2" width="24" height="24" viewBox="0 0 24 24">
                <path class="fill-current"
                    d="M14.046 2.242l-4.148-.01h-.002c-4.374 0-7.8 3.427-7.8 7.802 0 4.098 3.186 7.206 7.465 7.37v3.828c0 .108.045.286.12.403.143.225.385.347.633.347.138 0 .277-.038.402-.118.264-.168 6.473-4.14 8.088-5.506 1.902-1.61 3.04-3.97 3.043-6.312v-.017c-.006-4.368-3.43-7.788-7.8-7.79zm3.787 12.972c-1.134.96-4.862 3.405-6.772 4.643V16.67c0-.414-.334-.75-.75-.75h-.395c-3.66 0-6.318-2.476-6.318-5.886 0-3.534 2.768-6.302 6.3-6.302l4.147.01h.002c3.532 0 6.3 2.766 6.302 6.296-.003 1.91-.942 3.844-2.514 5.176z">
                </path>
            </svg>
            <span>Commentaires</span>
        </div>
        <div class="flex items-center">
            <svg class="mr-2" width="24" height="24" viewBox="0 0 24 24">
                <path class="fill-current"
                    d="M12 21.638h-.014C9.403 21.59 1.95 14.856 1.95 8.478c0-3.064 2.525-5.754 5.403-5.754 2.29 0 3.83 1.58 4.646 2.73.813-1.148 2.353-2.73 4.644-2.73 2.88 0 5.404 2.69 5.404 5.755 0 6.375-7.454 13.11-10.037 13.156H12zM7.354 4.225c-2.08 0-3.903 1.988-3.903 4.255 0 5.74 7.035 11.596 8.55 11.658 1.52-.062 8.55-5.917 8.55-11.658 0-2.267-1.822-4.255-3.902-4.255-2.528 0-3.94 2.936-3.952 2.965-.23.562-1.156.562-1.387 0-.015-.03-1.426-2.965-3.955-2.965z">
                </path>
            </svg>
            <span>Likes</span>
        </div>
    </div>
</div>